body{
    background-color:#284965 ;
    background-position: center;
    background-size: cover;
}

h1{
    color:white;
    text-align: center;
    text-shadow: -3px 0px 1px rgb(87, 129, 177);
    font-family: 'Courier New', Courier, monospace;
}
#navbar{
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#navbar ul{
    padding: 0%;
    overflow: hidden;
    
    display: flex;
    justify-content: space-between;
    
}

#navbar li{

    display: block;
    width: 23%;
    list-style-type: none;
    text-decoration: none;
    background:linear-gradient(to right,#66baff,#a1cdf0,#66baff);
    color: black;
    border-style: inset;
    border-color:#d8d6b4;    
    text-align: center;
}

#navbar li:hover{
    border-style: outset;
    border-color: #284965;
}



#navbar a{
    margin: 0px;
   
    
    text-align: center;
    text-decoration: none;
    color: black;
}


.box{
   font-family: "consolas",sans-serif;
   border-style:inset;
   border-color: azure;
   border-width:5px;
   
   margin-top: 10px;
   margin-bottom: 10px;
   background:linear-gradient(to right,#66baff,#a1cdf0,#66baff);
   padding: 10px;
   width: 95%;
   height: 30%;
   margin-left: auto;
   margin-right:auto;
}

.box:hover{
    border-style: outset;
    
}



.mainbox{
    border-color: #d8d6b4;
    border-style: outset;
    border-width: 10px;
    background-color: rgb(247, 245, 203);
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
}