.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
    background-color: #8bc9ff;
    
}

::-webkit-scrollbar-thumb{
    background-color: #d8d6b4;
    border-style: outset;
    border-radius: 10px;
    
}
body{
    background-image: url(Website_Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#body2{
    display: flex;
    flex-direction: column;
    height: 100%;

}

#playground{
    background-image: none;
    background-color: white;
}


h1{
    color:white;
    text-align: center;
    text-shadow: -3px 0px 1px #284965;
    font-family: "Audiowide";
}
#navbar{
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

#navbar ul{
    padding: 0%;
    overflow: hidden;    
    display: flex;

    justify-content: space-around;
    width: 100%;

}

#navbar li{

    display: block;
    width: 23%;
    list-style-type: none;
    text-decoration: none;
    background:linear-gradient(to right,#66baff,#a1cdf0,#66baff);
    color: black;
    border-style: inset;
    border-color:#d8d6b4;
    border-width: 4px;    
    text-align: center;
    width: 20%;
    
}

#navbar li:hover{
    border-style: outset;
    border-color: #284965;
}



#navbar a{
    margin: 0px;   
    font-family: "Audiowide";
    text-align: center;
    text-decoration: none;
    color: black;
}


.box{
   font-family: "Audiowide";
   border-style:inset;
   border-color: azure;
   border-width:5px;
   
   margin-top: 10px;
   margin-bottom: 10px;
   background:linear-gradient(to right,#66baff,#a1cdf0,#66baff);
   padding: 10px;
   width: 95%;
   height: 30%;
   margin-left: auto;
   margin-right:auto;
}

.box:hover{
    border-style: outset;
    
}



.mainbox{
    border-color: #d8d6b4;
    border-style: outset;
    border-width: 10px;
    background-color: rgb(247, 245, 203);
    width: 500px;
    border-radius: ;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}